<table class="col-lg-4 col-xs-12" id="t01">
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Mail</th>
  </tr>
  </thead>
  <tbody>
  <% @correct_list.each do |data| %>
      <tr>
        <td><%= data.first_name %></td>
        <td><%= data.last_name %></td>
        <td><%= data.email %></td>
      </tr>
  <% end %>
  </tbody>
</table>